<div id="<%= dom_id market_price %>">
  <p>
    <strong>Product name:</strong>
    <%= market_price.product_name %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= market_price.unit %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= market_price.category %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= market_price.location %>
  </p>

  <p>
    <strong>City:</strong>
    <%= market_price.city %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= market_price.date %>
  </p>

  <p>
    <strong>Average price:</strong>
    <%= market_price.price %>
  </p>

</div>
